	body
	{
		font-family: Arial, sans-serif;
		background-color: #CCCCCC;
		color: #000000;
	}
	
	a:link
	{
		color: #CC6666;
	}
	
	a:visited
	{
		color: #CC6666;
	}
	
	h1
	{
		color: #666699;	
	}

	h2
	{
		font-size:110%;
		color: #333333;
	}
	
	h3
	{
		font-size: 100%;
		color: #333333;
	}
	
	h4
	{
		font-size:85%;
		color: #333333;
	}
	
	table.main td
	{	
		padding: .25cm;
		border-style: solid;
		border-width: thin;
		border-color: #666699;
		background-color: #ffffff;
	}
	
	table.main td.text
	{
		font-size: 80%;
		width: 700px;
	}
	
	table.main td.text p
	{
		width: 700px;
	}
	table.main td.links
	{
		font-size: 80%;
		font-weight: bold;
		color: #993333;
		vertical-align: top;
	}
	
	table.main td.footer
	{
		font-size: 70%;
		color: #333333;
	}
	
	pre
	{
		background-color: #FFFFCC;
	}
	code
	{
		font-size: 9pt;
	}